body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navbar {
    box-shadow:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;0, 0.05) 0px 1px 1px 0px;
    position: fixed;
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #ee7478;
}

a {
    text-decoration: none;
}

.links-nav {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 25px;
    font-size: 20px;
    box-shadow: rgba(10, 9, 9, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 30px;
    color: #0f0e17;
}

.contact {
    background-color: #ca4c81;
}


li {
    list-style: none;
    padding: 3%;
}


.secc-presentacion {
    display: flex;
    justify-content: center;
    padding: 15%;
}

.texto-presentacion {
    flex-direction: column;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

.texto-presentacion-uno {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 30px;
}

.texto-presentacion-dos {
    color: #ca4c81;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-presentacion-tres {
    color: black;
    font-size: 20px;
    margin-bottom: 60px;
}

.fa-cat {
    color: #3f3d56;
    font-size: 30px;
}

.link-loquehago {
    font-size: 20px;
    background-color: #ca4c81;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
}

.imagen-hola {
    display: flex;
    max-width: 400px;
    max-height: 350px;
}





















footer {
    font-family: 'Josefin Sans', sans-serif;
    color:#e53170;
}