* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.encabezado {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(243, 116, 12, 0.56) 0px 22px 70px 4px;
    background-color: rgb(238, 232, 232);
}

.lista-encabezado {
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: flex-end;
    padding-right: 15em;
}

a {
    text-decoration: none;
    color:#0f0e17;
}

.links-nav {
    font-size: 25px;
    border-radius: 60px;
    color: #0f0e17;
    padding: 15px 40px;
}

.contact {
    background-color: #7b3e64;
    color: white;
}


li {
    list-style: none;
}


.secc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 200px 400px 300px;
}


@media (max-width: 1000px) {
    .secc-container {
        flex-direction: column;
    }
}

.texto-presentacion {
    flex-direction: column;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 1000px) {
    .texto-presentacion {
        margin-bottom: 50px;
    }
}

.texto-presentacion-uno {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.texto-presentacion-dos {
    color: #7b3e64;
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-presentacion-tres {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.fa-cat {
    color: #3f3d56;
    font-size: 30px;
}

.link-loquehago {
    font-size: 22px;
    font-weight: bold;
    background-color: #7b3e64;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius: 30px;
}


.imagen-presentacion {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

@media (max-width: 990px) {
    .imagen-presentacion {
        margin-left: 0;
    }
}

.secciones {
    background: rgb(238,237,236);
    background: radial-gradient(circle, rgba(238,237,236,1) 0%, rgba(123,62,100,1) 100%, rgba(91,46,74,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 300px;
}


.habilidades {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarjetas-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 320px;
    padding: 80px 80px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.nombre-habilidades {
    color: black;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bolder;
}

.titulo-habilidades {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 25px;
}

.parrafo-container {
    width: 400px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 60px;
    padding: 5px 10px;
}

.iconos-habilidades {
    font-size: 3em;
}

.fa-html5 {
    color: #e34d27;
}

.fa-css3-alt {
    color: #3c8ec6;
}

.fa-sass {
    color: #cd6799;
}

.fa-js {
    color: #ebd41d;
}

.fa-react {
    color: #5dd1ee;
}

.fa-github {
    color: #171414;
}

.secc-cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px 280px 300px;
}

blockquote {
    font-size: 2em;
    padding-left: 1em;
    margin-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.fa-quote-left {
    font-size: 2em;
    color: #f25f4c;
}

.fa-quote-right {
    font-size: 2em;
    color: #f25f4c;
}

.cita-autora {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 80px;
    padding: 15px;
}



.proyectos {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.tarjeta-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px 70px;
    border: 1px solid rgb(211, 13, 13);
    border-radius: 15px;
    background-color: #f2f2f2;
}

img:not(.imagen-presentacion) {
    max-width: 220px;
}


.nombres-proyectos {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 60px;
    font-size: 20px;
}

.nombres-proyectos-2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 0px;
    font-size: 20px;
}

.contenedor-secc-contacto {
    display: flex;
    justify-content: center;
}

.container-contacto {
    border: 5px solid black;
    display: flex;
    width: 60%;
    margin: 70px 0;
    border-radius: 20px;
}

.contenedor-contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 500px;
    margin-top: 10%;
}

.titulo-contacto {
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 3em;
}

.parrafo-contacto {
    width: 320px;
    font-size: 18px;
    margin-bottom: 20px;
}

.lista-redes {
    padding: 12px 10px;

}

.iconos-lista {
    margin-right: 12px;
    color: #7b3e64;
    font-size: 30px;
}

.nombre-links {
    font-size: 20px;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-nombreapellido {
    display: flex;
}

.container-email {
    display: flex;
    width: 100%;
}

.container-mensaje {
    display: flex;
    width: 100%;

}


.etiqueta-form {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.inputs-form {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: #f25f4c;
}


.boton-form {
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #f25f4c;
    border-radius: 20px;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1500px) {
    .contenedor-secc-contacto {
        flex-direction: column;
    }
    .container-contacto {
    width: 90%;
    }
    
    .contenedor-contacto {
    width: 80%;
    margin-top: 5%;
    }
    
    .parrafo-contacto {
    width: 80%;
    }
    
    .container-nombreapellido,
    .container-email,
    .container-mensaje {
    flex-direction: column;
    }
}

.pie-de-pagina {
    background-color: #f25f4c;
    padding: 50px 30px;
}

.navbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-pie {
    font-size: 22px;
    padding: 15px 30px;
    font-weight: bold;
    color: white;
}

.iconos-redes-pie {
    display: flex;
    justify-content: center;
    align-items: center;
}