* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }
}

/* aca comienza el encabezado  */

.encabezado {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(243, 116, 12, 0.56) 0px 22px 70px 4px;
    background-color: rgb(238, 232, 232);
    padding-right: 20%;
}

.lista-encabezado {
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color:#0f0e17;
}

.links-nav {
    font-size: 25px;
    border-radius: 60px;
    color: #0f0e17;
    padding: 15px 40px;
}

.links-nav:hover {
    color: #f25f4c;
}

.links-nav:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
    border: rgb(214, 143, 95);
    border-radius: 50px;

}
.contact {
    background-color: #7b3e64;
    color: white;
}

.contact:hover {
    background-color: #8b5175;
}

@media screen and (max-width: 860px) {
    .lista-encabezado {
        display: none;
    }
}

li {
    list-style: none;
}

/* seccion presentacion  */

.secc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 12%;
}


@media (max-width: 1000px) {
    .secc-container {
        flex-direction: column;
    }
}

.texto-presentacion {
    flex-direction: column;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 1000px) {
    .texto-presentacion {
        margin-bottom: 50px;
    }

}

.texto-presentacion-uno {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.texto-presentacion-dos {
    color: #7b3e64;
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-presentacion-tres {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.fa-cat {
    color: #3f3d56;
    font-size: 30px;
}

.fa-cat:hover {
    color: #ff681c;
}

.link-loquehago {
    font-size: 22px;
    font-weight: bold;
    background-color: #7b3e64;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius: 30px;
}

.link-loquehago:hover {
    color: #ff681c;
    background-color: #8b5175;
}


.imagen-presentacion {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

@media (max-width: 990px) {
    .imagen-presentacion {
        margin-left: 0;
        width: 250px;
        height: 250px;
    }
}

/* seccion habilidades */

.secciones {
    background: rgb(238,237,236);
    background: radial-gradient(circle, rgba(238,237,236,1) 0%, rgba(123,62,100,1) 100%, rgba(91,46,74,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 300px;
}


.habilidades {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarjetas-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media  (max-width: 550px) {
    .secciones {
        padding: 30px;
    }
    
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    width: 280px;
    height: 280px;
    padding: 60px 20px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.tarjeta:hover {
    border-color: #f25f4c;
}

.nombre-habilidades {
    color: black;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bolder;
}

.nombre-habilidades:hover {
    color: #f25f4c;
}

.titulo-habilidades {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 25px;
}

.parrafo-container {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 60px;
    padding: 5px 10px;
}

.iconos-habilidades {
    font-size: 3em;
}

.fa-html5 {
    color: #e34d27;
}

.fa-css3-alt {
    color: #3c8ec6;
}

.fa-sass {
    color: #cd6799;
}

.fa-js {
    color: #ebd41d;
}

.fa-react {
    color: #5dd1ee;
}

.fa-github {
    color: #171414;
}

/* seccion cita */

.secc-cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px 280px 300px;
}

@media (max-width: 700px) {
    .secc-cita {
        padding: 0;
    }

}

blockquote {
    font-size: 2em;
    padding-left: 1em;
    margin-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.fa-quote-left {
    font-size: 2em;
    color: #f25f4c;
}

.fa-quote-right {
    font-size: 2em;
    color: #f25f4c;
}

.cita-autora {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 80px;
    padding: 15px;
}

/* seccion proyectos */

.proyectos {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarjeta-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px 70px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: #f2f2f2;
}

img:not(.imagen-presentacion) {
    max-width: 220px;
}

.tarjeta-proyecto:hover {
    border: 1px solid rgb(211, 13, 13);
    box-shadow: rgba(243, 116, 12, 0.56) 0px 22px 70px 4px; ;
}

.nombres-proyectos {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 60px;
    font-size: 20px;
}

.nombres-proyectos-2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 0px;
    font-size: 20px;
}

/* seccion contacto  */

.seccion-contacto  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margen-contacto {
    border: 3px solid black;
    display: flex;
    width: 60%;
    margin: 80px;
    border-radius: 20px;
}

.contenedor-contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    margin-left: 5%;
}

.titulo-contacto {
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 3em;
}

.parrafo-contacto {
    width: 300px;
    font-size: 23px;
    margin-left: 20%;
    margin-bottom: 10%;
}

.li-redes {
    padding: 10px 5px;
    font-size: 5em;
    margin: 5px;
}

.li-redes .nombre-links:hover {
    color: #f25f4c;
}

.li-redes .iconos-lista:hover {
    color: #f25f4c;
    font-weight: bold;
}

.iconos-lista {
    margin-right: 12px;
    color: #7b3e64;
    font-size: 30px;
    border-radius: 100%;
}


.nombre-links {
    font-size: 22px;
}


.container-nombre-apellido {
    display: flex;
}

@media (max-width: 500px){
    .container-nombre-apellido {
        flex-wrap: wrap;
    }
}

.container-email-mensaje {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-email {
    /* margin-left: 20%; */
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    overflow: auto;
    resize: vertical;
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: 2% 2%;
    font-weight: bold;
}

.inputs-form {
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid rgb(219, 123, 12);
    outline: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.boton-form {
    width: 40%;
    padding: 10px 20px;
    background-color: #f25f4c;
    border-radius: 10px;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.boton-form:hover {
    background-color: #d13c29;
}

.boton-form:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(219, 64, 44, 0.4);
}


@media (max-width: 1700px) {
    textarea {
        width: 100%;
    }
    .parrafo-contacto {
        width: 40%;
    }
    .boton-form {
        font-size: 10px;
    }
}

@media (max-width: 1400px) {
    .margen-contacto {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
    }
    form {
        display: flex;
        width: 80%;
        flex-wrap:wrap ;
    }
}

/* seccion footer  */

.pie-de-pagina {
    display: flex;
    flex-direction: column;
    background-color: #f25f4c;
    width: 100%;
    /* padding: 50px 30px; */
}

.navbar-footer {
    display: flex;
    justify-content: center;
    padding: 50px 0 30px 0;
    
}

.texto-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.links-pie {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
}

.iconos-redes-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.lista-redes {
    padding: 0 20px;
}
.lista-redes i:hover {
    color: black;
}

@media (max-width: 600px) {
    .pie-de-pagina {
        padding: 30px 15px;
        max-width: 100%;
    }

    .navbar-footer {
        flex-wrap: wrap;
    }

    .iconos-redes-pie {
        flex-wrap: wrap;
    }

    .links-pie {
        padding: 15px;
        font-size: 18px;
    }
}